.cart-floating-btn {
    position: fixed;
    bottom: 20px;
    /* distance from bottom */
    right: 20px;
    /* distance from right */
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #0f3460;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease-in-out;
}

.cart-floating-btn:hover {
    transform: scale(1.05);
    background: #162d4a;
}

.cart-icon {
    width: 28px;
    height: 28px;
    fill: white;
}

.cart-badge {
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgb(255, 52, 93);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
}