# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.log
*.tgz

# Coverage directory
coverage/

# React Native
.expo/

# Parcel-bundler cache
.cache/
.parcel-cache/